<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.poke.vault-reindex</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/bash</string>
    <string>@@APP_DIR@@/reindex.sh</string>
  </array>
  <key>EnvironmentVariables</key>
  <dict>
    <key>POKE_APP_DIR</key>
    <string>@@APP_DIR@@</string>
    <key>POKE_VAULT_ROOT</key>
    <string>@@VAULT_ROOT@@</string>
    <key>EMBED_MODE</key>
    <string>@@EMBED_MODE@@</string>
    <key>EMBED_MODEL</key>
    <string>@@EMBED_MODEL@@</string>
    <key>EMBED_API_BASE</key>
    <string>@@EMBED_API_BASE@@</string>
    <key>EMBED_API_KEY</key>
    <string>@@EMBED_API_KEY@@</string>
  </dict>
  <key>StartInterval</key>
  <integer>@@REINDEX_INTERVAL@@</integer>
  <key>RunAtLoad</key>
  <true/>
  <key>StandardOutPath</key>
  <string>@@APP_DIR@@/reindex.out</string>
  <key>StandardErrorPath</key>
  <string>@@APP_DIR@@/reindex.err</string>
</dict>
</plist>
